*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
body{
    font-family: "roboto";
    
}


li, a, button {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
    color:rgb(6, 28, 48);
    text-decoration: none;
}
button{
    color:rgb(255, 255, 255);
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}
@media(max-width: 375px){
    header{
        width: 300px;
    }
}
.logo{
    cursor: pointer;
}
.nav_links{
    list-style: none;
}
.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}
.nav_links li a {
    transition: all 0.3s ease 0s;
}
.nav_links li a:hover {
    color:blue;
}
button{
    padding: 9px 25px;
    background-color: blue;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover{
    background-color: rgb(149, 149, 221);
}
.section1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px red solid;
    
}
@media(max-width: 375px) {
    .section1{
        flex-direction: column-reverse;
        margin: auto;
    }
}
.left-block{
    max-width: 350px;
    /*margin-left: 90px;*/
    border: 2px rgb(0, 4, 255) solid;

    
}

.title h1{
    margin-top: 50px;
    margin-bottom: 45px;
    text-align: justify;
}
.title p{
    margin-bottom: 45px;
    text-align: justify;
}
.right-block{
    display:flex;
    justify-content: right;
    /*max-width: 350px;*/
    border: 2px rgb(0, 255, 0) solid;
    position: relative;
    

   
}
.picture{
    width: 508px; 
    
}
@media(max-width: 375px){
    .picture{
        width: 360px;
    }
}
.card1{
    width: 200px;
    height: 236px;
    position: absolute;
    top: 0;
    left: -30px;

}
.card2{
    width: 190px;
    height: 193px;
    position: absolute;
    bottom: 0;
}
@media(max-width: 375px){
    .card1, .card2{
        display: none;
    }
}
.image{
    
    width: 400px;
}
.section2{
    padding: 70px 0;
    display: flex;
    justify-content:space-around;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
@media(max-width: 375px){
    .section2{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
.section2 div{
   
    text-align: center;
  
}
.section3{
    
    display: flex;
    border: 2px green solid;
}
@media(max-width: 375px) {
    .section3{
        display: flex;
        flex-direction: column;
        width: 100%; 
    }
}
.card{
    width: 50%;
    margin: 30px;
    margin-left: 90px;
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgb(149, 149, 221);
    cursor: default; 
    transition:all 400ms ease;
    height: 350px;
    position: relative;

}

.card:hover{
    box-shadow: 5px 5px 20px rgb(0, 0, 0, 0.4);
    transform: translateY(-3%);
}
.card img{
    width: 100%;
    height: 210px;
}

.card-title h1{
    margin-left: 135px;
}
.text-card h3, p{
    margin-top: 15px;
    margin-left: 10px;
   
}
.text-card p{
    margin-bottom: 30px;
}
.text-card a{
       
    position: absolute;
    bottom: -70px;
    margin-bottom: 100px;
    margin-top: 30px;
    margin-left: 10px;
    transition: all 0.3s ease 0s;
}
.text-card a:hover {
    color:blue;
}
.review{
    background-color: #292E47;
    height: 500px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}
.image{
    width: 150px;
}
.first, .third{
    display:flex;
    justify-content: space-around;
    align-items: center;
   
}
.profile{
    display: flex;
    
   
}
.profileImage{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.second{  
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: #FFC600;
    font-size: 25px;
    width: 58%;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 190px;
    
   
}
.first p{
    font-size: 35px;
    color: white;
}
.third p{
    font-size: 10px;
}
.section5{
    width: 100%;
    display: flex;
    max-width: 1100px;
}
.card{
    width: 20%;
    border: 2px red solid;
}
.card_services{
    width: 100%;
    margin: 30px;
    margin-left: 90px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0px 1px 10px rgb(149, 149, 221);
    cursor: default; 
    transition:all 400ms ease;
    height: 250px;
    position: relative;

}

.card_services:hover{
    box-shadow: 5px 5px 20px rgb(0, 0, 0, 0.4);
    transform: translateY(-3%);
}
.card_services img{
    width: 15%;
    height: 15%;
    margin-top: 20px;
    margin-left: 10px;
    background-color: rgb(184, 184, 224);
    border-radius: 50%;
}
.section5{
 
   margin-left: 50px;
}
@media(max-width: 375px) {
    .section5{
        flex-direction: column;
        margin: auto;
    }
}
.card-title h1{
    margin-left: 135px;
}
.text-card h3, p{
    margin-top: 15px;
    margin-left: 10px;
}
.text-card p{
    margin-bottom: 30px;
}
.text-card a{
       
    position: absolute;
    bottom: -70px;
    margin-bottom: 100px;
    margin-top: 30px;
    margin-left: 10px;
    transition: all 0.3s ease 0s;
}
.text-card a:hover {
    color:blue;
}
.card-title-services{
    margin-top: 50px;
    margin-bottom: 20px;
}
@media(max-width: 375px) {
    .card{
        flex-direction: column;
        border: 2px red solid;

    }
}

.questions_box{
    background-color: #FFC600;
    height: 500px;
    width: 78%;
    margin: 0 auto;
    padding: 2rem;
    display:flex;
    justify-content: center;
    align-items: center;
}
@media(max-width: 375px) {
    .section6{
        flex-direction: column;
        width: 100%;
        margin-left: 13px;
    }
    .questions_title p{
        font-size: 5px;
        text-align: center;
        border: 2px rgb(255, 0, 191) solid;
    }
    .questions_box button{
        width: 100%;
    }
}
.questions_box h4{
    font-size: 35px;
}
.questions_box p{
    font-size: 20px;
    text-align: center;
    margin-bottom: 50px;
}
.questions_box button{
   border-radius: 0;
   margin-left: 30px;
   height: 50px;
   width: 25%;

}
#email_box{
    width: 65%;
    height: 50px;
    border: 0;
}


